@{
    ViewData["Title"] = "Home Page";
}

<div class="container center-block">
    <div class="row">
        <div class="col-md-4">
            <img src="~/1.png" width="300" height="300" class="vertical-align: left" />

        </div>
        <div class="col-md-8">
            <h1>
                Добро пожаловать в нашу школу!
            </h1>
            <p>
                В нашей школе хорошие учителя создают хороших учеников.
            </p>
        </div>
    </div>

</div>
